# =========================
# macOS system files
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp

# =========================
# VS Code files
# =========================
.vscode/
*.code-workspace

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
Pipfile.lock
poetry.lock
.venv/
.venv
openapi.yaml

# =========================
# Swift / Xcode (if applicable)
# =========================
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcsettings/
*.xcodeproj/xcshareddata/
*.xcuserstate
*.swiftpm
.build/
Package.resolved

# =========================
# Git backup / conflict
# =========================
*.orig
*.rej

# ==============================
# Local logs / caches / configs
# ==============================
*.log
.cache/
spurly-trigger.json
.dockerignore

# =========================
# Environment Variables
# =========================
.env
.secrets/

